* {
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: bold;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;

}


p {
    font-family: "Manrope", sans-serif;
    text-align: center;
    margin: 2%;
    word-spacing: 2px;
    font-size: 20px;
    font-weight: 500;
}

h1{
    font-size: 80px;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    display: flex; 
    font-family: "Coolvetica", sans-serif;
}
h2{
    font-size: 35px;
    font-family: "Coolvetica", sans-serif;
    margin-left: 20px;
    text-align: center;
}

.gra{
    background: linear-gradient(#5EC572, #F8E84E);
    background-clip: text;
    color: transparent;
}

hr {
  border: none;
  height: 1px;
  border: 2px;
  border-radius: 5px;
  color: #333; 
  color: transparent;
  background-color: black;
  width: 50%;
}

span {
    background: linear-gradient(#5EC572, #F8E84E);
    background-clip: text;
    color: transparent;
    font-family: "Coolvetica", sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container .box1{
    margin-top: 2px;
    border: 2px solid black;
    border-radius: 20px;
    width: 50%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container .box2{
    border: 2px solid black;
    border-radius: 20px;
    width: 50%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info {
    margin-top: 50%;
    width: 112px;
    height: 50px;
    border: solid 2px; 
    border-radius: 10px;
    background-color: white;
    cursor: pointer;
    transition: 1s;
}

.info:hover {
    transition: 1s;
    background-color: black;
    color: white;
    width: 115px;
    height: 53px;
}